form.form-horizontal(action= ( event.isNew ) ? 'create' : 'update', method='post' )
  if ( !event.isNew )
    input(type='hidden', name='_method', value='put')
  if ( !event.isNew )
    legend Editing #{event.name}
  else
    legend New Event
  .control-group
    label.control-label(for='event_name') Name
    .controls
      input(id='event_name', name='event[name]', value=event.name)

  .control-group
    label.control-label(for='event_theme') Theme
    .controls
      input(id='event_theme', name='event[theme]', value=event.theme)

  .control-group
    label.control-label(for='event_start_date') Start Date
    .controls
      input(id='event_start_date', name='event[start_date]', value=event.start_date)

  .control-group
    .controls
      input(type='submit', name='Save')
