extends ../../layouts/events

block content
  a(href='/admin/events/new') New Event
  - if ( typeof events != 'undefined' )
      table.table
        - each event in events
          tr
            td= event.name
            td
              a(href="/admin/events/#{event._id}/edit") Edit
            td
              form(action="events/#{event._id}/destroy", method='post')
                input(type='hidden', name='_method', value='put')
                input(type='submit', name='Delete', value='Delete')
            td
              a(href="/admin/events/#{event._id}/teams") Teams
