doctype transitional
html
  head
    title 'Tilt NYC'
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="tilt, tiltnyc")
    meta(name="description", content="tilt")
  body
    #flashes
      block flashes

    #content
      block content
    // != partial('../shared/footer')
